body {
  display: flex;
  justify-content: space-between;
}

.box-1 {
  background-color: blue;
  width: 200px;
  height: 200px;
  position: relative;
  top: 200px;
  /* left: 40px; */
  z-index: 2;
}

.box-2 {
  background-color: red;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 1;
}

.box-3 {
  background-color: yellow;
  width: 200px;
  height: 200px;
  margin-top: 40px;
  margin-left: 40px;
}

.box-4 {
  background-color: green;
  width: 200px;
  height: 200px;
}

body {
  height: 2000px;
}

.back {
  background-color: red;
  width: 100%;
  height: 300px;
}

.fixed {
  background-color: blue;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}

/* Absolute */

.outside {
  background-color: blue;
  width: 400px;
  height: 400px;
  margin: 40px;
  position: relative;
}

.inside {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 150px;
  left: 150px;
}

/* Sticky */

.sticky-box {
  position: sticky;
  margin-top: 400px;
  top: 40px;
  width: 200px;
  height: 200px;
  border: 5px solid red;
}

/* 
Yuqorida 40px joy qolguncha postion relativega
o'xshab harakat qiladi, keyin postion fixedga o'xshab
harakat qiladi.
*/

.high-box {
  height: 2000px;
  border: 5px solid blue;
}

/* Overflow */

.overflow {
  border: 4px solid red;
  width: 150px;
  height: 60px;
  overflow: auto;
  /* overflow-x: auto;
  overflow-y: auto; */
}

/* Background */

.background {
  width: 100%;
  height: 600px;
  /* background-color: blue; */
  background-image: url(./avatarJPG.jpg);
  /* background-position: 500px 500px; */
  background-repeat: no-repeat;
  background-size: cover;
}
