/* @import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap'); */

@font-face {
  font-family: "SSR";
  src: url("./fonts/ssr.ttf") format("truetype"),
    url("./fonts/ssr.woff") format("woff"),
    url("./fonts/ssr.woff2") format("woff2"),
    url("./fonts/ssr.eot") format("eot");
}

.animation {
  background-color: #00f;
  width: 200px;
  height: 200px;
  position: relative;
  /* transition: width 4s; */
  /* animation-name: animatsiya; */
  /* animation-timing-function: ease-in; */
  /* animation-duration: 2s; */
  /* animation-delay: 2s; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: reverse; */
  /* animation: animatsiya 2s ease-in-out 2s 2; */
}

.animation:hover {
  animation-play-state: paused;
}

/* 
.animation:hover {
  width: 400px;
  background-color: red;
} */

@keyframes animatsiya {
  0% {
    left: 0;
    background-color: red;
  }

  50% {
    left: 300px;
    background-color: blue;
  }

  100% {
    left: 600px;
    background-color: #0f0;
  }
}

.sans_serif {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  /* font-style: oblique; */
}

.monospace {
  font-family: Monaco, "Courier New", monospace;
}

.coursive {
  font-family: "Brush Script MT";
}

.fantasy {
  font-family: SSR, cursive;
}

p {
  line-height: 100%;
  /* letter-spacing: 2px; */
  word-spacing: 20px;
  /* word-break: break-all; */
}
