/* VW - viewport width */
/* VH - viewport height */

/* body {
  padding: 0;
  margin: 0;
} */

/* .vw {
  background-color: #00f;
  height: 100vh;
  width: 100vw;
} */

/* .vmin {
  background-color: #f00;
  height: 20vmin;
  width: 30vmin;
}

.vmax {
  background-color: #00f;
  height: 200px;
  width: 300px;
} */

/* Media query */

.media {
  background-color: #00f;
  height: 300px;
  width: 600px;
}

@media screen and (min-width: 620px) {
  .media {
    background-color: red;
  }
}

@media screen and (min-width: 900px) {
  .media {
    background-color: yellow;
  }
}

@media screen and (max-width: 620px) {
  .media {
    width: 400px;
    height: 100px;
  }
}
